body {
    width: 600px;
    height: 300px;
    background-color: rgb(255, 255, 255);
}

button {
    width: 15%;
    margin-left: 3%;
    margin-right: 3%;
}

table, td, th {
    border: 1px solid;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
}

.rightCol {
    word-wrap: break-word;
    text-align: left;
}

.leftCol {
    width: 8%;
    text-align: center;
}